@{
    ViewBag.Title = "VerificationSuccess";
}
<style>
a {
        text-decoration: underline;
    }
    a:hover {
        font-weight: bold;
    }
</style>
<div style="float:left; margin-top:100px; margin-bottom:100px;">
Thanks! Your account is now registered - please @Html.ActionLink("click here", "/LogOn") to logon with your new account
    </div>