@{
    ViewBag.Title = "IncorrectRegToken";
}
<style>
a {
        text-decoration: underline;
    }
    a:hover {
        font-weight: bold;
    }
</style>
<div style="float:left; margin-top:100px; margin-bottom:100px;">
    Sorry, you used an incorrect registration token. Please @Html.ActionLink("click here","Register") to try again. 
</div>
