@{
    ViewBag.Title = "VerificationFailure";
}
<style>
a {
        text-decoration: underline;
    }
    a:hover {
        font-weight: bold;
    }
</style>
<div style="float: left; margin-top: 100px; margin-bottom: 100px;">
    Oops! Something went wrong and your email couldn't be verified.
    <br />
    Please <a href="mailto:obodley@gmail.com?subject=MEG Email verification failure&body=I tried to verify my email address, but failed. Can you please sort this out for me? %0D Thanks!">email obodley@gmail.com for assistance.</a>
</div>
