@{
    ViewBag.Title = "Contact";
}

<div id="body">
        
        <section class="content-wrapper main-content clear-fix">
            
<br><br>

<b>Chair: </b><br>
<b>Tim Lynch </b><br>
            <a href="mailto:tim@monocrane.co.nz">tim@monocrane.co.nz</a>
 <br><br>

<b>Secretary: </b><br>
<b>Andrew Clark </b><br>
<a href="mailto:clarkas@xtra.co.nz">clarkas@xtra.co.nz</a>
 <br><br>

<b>Treasurer: </b><br>
<b>Win Miskelly </b><br>
<a href="mailto:win.miskelly@vodafone.co.nz">win.miskelly@vodafone.co.nz</a>
 <br><br>
<b>Report Website Bugs:</b><br>
<a href="mailto:obodley@gmail.com">obodley@gmail.com</a>
        </section>
    </div>
